@import './helpers.scss';
@import './Editor.scss';
@import './PreviewSection.scss';

div.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    
    > nav{
        height: 7vh;
        width: 100%;
        display: flex;
        background-color: #EBECF1;//$primary-color;
        box-shadow: rgba(128,128,128, .2) 0px 10px 10px;
        position: relative;
        z-index: 10000;

        > div:first-child, > div:nth-child(2) {
            width: 50%;
            height: 100%;
            display: flex;
        }

        > div:first-child { 
            align-items: center;
            > div {
                height: 6vh;
                width: 10vw;
                background-image: url('/LogoH-wik-8.png');

                background-position: center;
                background-size:63%;
                background-repeat: no-repeat;
            }
        }

        > div:nth-child(2) {
            flex-direction: column;
            position: relative;
            >div{
                display: flex;
                justify-content: flex-end;
                height: 50%;
            }
            >div:first-child{
                align-items: flex-start;
                >ul{
                    position: relative;
                    display: flex;
                    right: 11px;
                    > li{
                        list-style: none;
                        background-color: transparent;
                        position: relative;

                        >a{
                            margin: 0;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            font-size: .83em;
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            border-radius: .3em;
                            transition: .5s;
                            color: rgb(119, 119, 119);
                            text-decoration: none;
                            padding: .2em .1em .2em .4em;
                            cursor: pointer;

                            >svg{
                                color: $primary-color;
                                font-size: 1.3em;
                            }

                            >svg:not(.wiki){
                                margin-right: .5em;
                            }

                            &:hover{
                                background-color: oPrimaryColor(.1);
                            }
                            &:focus{
                                outline: 0;
                            }
                        }
                        &:not(:first-child){
                            margin-left: 19px;
                            &:after{
                                content: '';
                                position: absolute;
                                width: 1px;
                                height: 50%;
                                top: 25%;
                                background-color: $primary-color;
                                left: -10px;
                            }
                        }
                    }
                }
            }   
            >div:last-child{
                align-items: flex-end;
                >button.btn-createpage{
                    height: 85%;
                    display: flex;
                    align-items: center;
                    font-size: .85em;
                    padding: 0 .5em;
                    
                    border-radius: .3em;
                    
                    position: relative;
                    bottom: 2px;
                    right: calc(7.968px + 10px);
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: $primary-color;
                    border:none;
                    border: 1px solid $primary-color;
                    border: {
                        top:none;
                        bottom:none;
                    };
                    >svg{
                        margin-right: .5em;
                    }
                    &:focus{
                        outline: 0;
                    }
                }
            }

            >div.only-menu{
                height: 100%!important;
                align-items: center;
                & + div{
                    display: none;
                }
            }
        }

        > div:last-child.linear-preloader {
            position: absolute;
            left: 0;
            height: 3px;
        }
    }

    > section {
        width: inherit;
        height: 93vh;
 
        overflow-x: auto;
        overflow-y: hidden;
        background-color: #F0F1F4;
        position: relative;
    }

    /**
     * HOMEPAGE
     */
    > section.pages-container{

       > div{
           height: 100%;
           display: flex;
           flex-wrap: nowrap;
            
            > div {
                margin: 25px 15px 15px;
                min-width: 470px!important;
                width: 470px!important;
                max-width: 470px!important;
                position: relative;
                background-color: #FAFAFA;
                border-radius: .4em;
                // box-shadow: #EBECF1 1px 1px 0px, #EBECF1 -1px -1px 0;
                border: 1px solid #EBECF1;
                box-sizing: border-box;
                overflow-x: hidden;
                overflow-y: scroll;

                //Contenedor del boton editar
                >div:first-child {
                    position: absolute;
                    right: 2px;
                    top: 8px;
                    >button{
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                        outline: 0;
                        position: relative;
                        z-index: 1000;
                        >svg{
                            font-size: 1.7em;
                            color: #54525a;
                            transition: .5s;
                        }
                        &:hover > svg {
                            color: $primary-color;
                        }
                    }
                }
                // Ocultar el boton editar del Homepage
                &:first-child>div:first-child{ display: none; }

                // Articulo -> page
                >article{
                    padding: 0 1.7em;

                    >header:first-child{
                        padding: 1.2em 0;
                        display: flex;
                        align-items: center;
                        //Conten circulo & h1 title
                        >div{
                            position: relative;
                            top: 2px;
                            display: flex;
                            align-items: center;
                            >div:first-child{
                                min-width: 32px;
                                width: 32px;
                                max-width: 32px;
                                min-height: 32px;
                                height: 32px;
                                max-height: 32px;
                                background-color: oPrimaryColor(0.75);
                                border-radius: 50%;
                                margin: 0 .8em 0 0;
                            }
                            >h1 {
                                font-size: 1.08555em;
                                position: relative;
                            }
                        }
                    }
                    // Secciocon -- Contenidos del arcitulo
                    > div{
                        margin-bottom: .9em;

                        > h1:first-child, 
                        > h2:first-child,
                        > h3:first-child,  
                        > h4:first-child, 
                        > h5:first-child,
                        > h6:first-child{ 
                            margin-bottom: .485em;
                            font-size: 1em;
                         }

                        p {
                            font-size: .95em;
                            line-height: 1.4em;
                            text-indent: 2em;
                            margin-bottom: .5em;
                        }
                    }
                }
            }
        }

        >div.blocker{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            cursor: wait;
        }
    }

    /**
     * User registry
     */
    > section.user-registry-container{
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            position: relative;
            top: -130px;
            width: 260px;
            
            display: flex;
            flex-direction: column;

            >div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                >div:first-child{
                    border-radius: 50%;
                    border: 1px solid oPrimaryColor(.5);;
                    width: 100%;
                    height: 100px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >svg {
                        font-size: 4em;
                        color: $primary-color;
                    }
                }
                >div:last-child{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: .9em 0;
                    >label {
                        color: #646464;
                        font-size: 1.27em;
                    }
                }
            }

            >form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                >div{
                    width: 100%;

                    &:first-child{ 
                        display: flex;
                        flex-direction: column;
                        >div{
                            display: flex;
                            justify-content: center;
                            min-height: .5em;
                            >label{
                                padding: .3em 0 .5em;
                                color: rgb(255, 100, 100);
                                font-size: .75em;
                            }
                        }
                    }

                    >input{
                        width: inherit;
                        margin: 0!important;
                        border: 0;
                        font-size: .99em;
                        padding: .6em 0;
                        text-align: center;
                        box-sizing: border-box;
                        border-radius: .3em;
                        color: #616161;

                        &::placeholder{ opacity: .4; }
                        &:focus{
                            outline: 0;
                            box-shadow: 0 0 0 1px oPrimaryColor(.4);
                        }
                    }

                    >button {
                        @include buttonPropertys('normal', 100%, auto);
                        font-size: .9em;
                        padding: .5em 0;
                    }
                }
            }
        }
    }

    /**
     * Roles managment
     */
    >section.roles-managment-container{
        display: flex;
        justify-content: center;
        align-items: center;

        >div{
            width:750px;
            height: 90%;
            background-color: #FAFAFA;
            box-sizing: border-box;
            padding: 1em 0;
            border-radius: .5em;
            display: flex;
            flex-direction: column;

            >header{
                display: flex;
                align-items: center;
                height: 10%;
                box-sizing: border-box;
                padding: 0 1em;

                >label{
                    display: flex;
                    align-items: center;
                    position: relative;
                    top: -10px;
                    color: rgb(73, 73, 73);
                    font-size: 1.1em;
                    font-weight: bold;
                    >svg {
                        margin-right: .2em;
                        font-size: 1.35em;
                    }
                }
            }

            >section{
                display:flex;
                flex-direction: column;
                height: 100%;

                >div:first-child{
                    position: relative;
                    box-sizing: border-box;
                    padding: 0 1em;

                    >form{
                        display: flex;
                        justify-content: space-between;
                        >div{
                            display: flex;
                            align-items: center;

                            >input, >select, >button{
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                padding: .55em;
                                border-radius: .3em;
                                font-size: .86em!important;
                                &:focus{
                                    outline: 0;
                                }
                            }

                            &:first-child{ 
                                width: 100%;
                                position: relative;
                                
                                >input{
                                    text-indent: 35px;
                                    padding-left: 0;
                                }

                                >div:nth-child(2){
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    padding: 0;
                                    margin: 0;

                                    >label {
                                        color: rgb(255, 100, 100);
                                        font-size: .75em;
                                    }
                                }

                                >div:last-child{
                                    width: 35px;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    >svg{
                                        font-size: 1.4em;
                                        color: rgb(117, 117, 117);
                                    }
                                }
                            }

                            &:nth-child(2){
                                padding: 0 .5em;
                                width: calc(50% - 1em);
                            }
                            &:nth-child(3){
                                width: 45%;
                                >button{
                                    @include buttonPropertys('normal', 100%, 100%);
                                }
                            }

                            &:nth-child(4){
                                min-width: 45px;
                                justify-content: center;
                                >button{
                                    display: flex;
                                    justify-content: center;
                                    width: auto!important;
                                    padding: 0;
                                    margin: 0;
                                    cursor: normal;
                                    border: none;
                                    background-color: transparent;
                                    >svg {
                                        color: rgb(0, 133, 211);
                                        cursor: pointer;
                                        font-size: 1.6em;
                                    }
                                }
                            }

                            >select, input{
                                background-color: #FFFFFF;
                                border-radius: .5em;
                                border: 1px solid rgba(70, 70, 70, .3);
                                &::placeholder{ color: rgb(124, 124, 124); }
                                &:focus{
                                    outline: 0;
                                    box-shadow: 0 0 0 1px oPrimaryColor(.4);
                                }
                            }                        
                        }
                    }
                }

                >div:last-child{
                    height: 100%;
                    display:flex;
                    flex-direction: column;

                    // Content label for result and eraser button
                    >div:first-child{

                        position: relative;
                        z-index: 1000;
                        padding: 1.75em 0 .5em 1em;
                        box-shadow: rgba(128,128,128, .1) 0px 3px 2px;
                        >label{
                            font-size: .9em;
                            color: #4e4e4e;
                            font-weight: bold;
                        }
                    }
                    
                    //Result content
                    >div:last-child{
                        position: relative;
                        z-index: 500;
                        height: 100%;
                        overflow-x:hidden;
                        overflow-y: auto;
                        li {
                            color: #666666;
                            list-style: none;
                            font-size: 1em;
                            cursor: pointer;
                            padding: 1em 1.2em;
                            border-radius: .2em;

                            >span{
                                padding-top: .285em;
                                display: block;
                                font-size: .8em;
                            }
                            &:not(:last-child){
                                border-bottom: 1px solid rgba(128,128,128, .2);
                            }

                            &:hover{
                                background-color: rgba(221, 221, 221, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }

}



div#page-manager{
    @include modalPropertys(15000);
    > div {
        width: 65%;
        height: 90%;
        background-color: $bg2;
        display: flex;
        flex-direction: column;
        border-radius: .5em;
    
        > header {
            height: 68px;
            display: flex;
            flex-wrap: nowrap;
            border-bottom: #EBECF1 1px solid;
            >div{
                display: flex;
                align-items: center;
            }
            >div:first-child {
                width: 100%;
                >label {
                    color: rgb(122, 122, 122);
                    font-size: 21.5px;
                    text-indent: .8em;
                }
            }
            >div:last-child{
                min-width: 70px;
                justify-content: center;
                >button{
                    @include buttonPropertys('contoured');
                    padding: .2em;
                    display: flex;
                    align-items: center;
                    font-size: 1.3em;
                    border: none;
                    transition-duration: .3s;
                    &:hover{
                        background-color: oPrimaryColor(.1);
                    }
                }
            }
        }

        > section {
            overflow-y: auto;
            height: 100%;
            display: flex;
            flex-direction: column;

            >div:first-child{
                box-sizing: border-box;
                padding: 1em;

                >input {
                    width: 100%;
                    height: 44px;
                    background-color: $bg2;
                    border-radius: .5em;
                    border: rgba(122,122,122, .25) solid 1px;

                    text-indent: .8em;
                    font-size: .98em;

                    &::placeholder{ color: #ddd; }

                    &:focus{
                        outline: 0;
                        box-shadow: 0 0 0 1px oPrimaryColor(.4);
                    }
                }
            }

            >div:last-child{
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 0 1em;
                box-sizing: border-box;
                >button {
                    @include buttonPropertys('normal', 120px, 32px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    > svg {
                        font-size: 1.3em;
                        margin-right: .2em;
                        font-weight: bold;
                    }
                }
            }
        }

        > footer {
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            >div {
                width: 100%;
                >div{
                    display: flex;
                    justify-content: flex-end;
                    >button {
                        &:first-child{
                            @include buttonPropertys('contoured', 120px, 33px);
                            transition-duration: .3s;
                            &:hover {
                                background-color: oPrimaryColor(.1);
                            }
                        }
                        &:last-child{
                            @include buttonPropertys('normal', 120px, 33px);
                            margin: 0 1.5em;
                        }
                    }
                }
            }
        }
    }
}

div#alert{
    @include modalPropertys(30000);
    >div{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: .5em 1em;
        border-radius: .4em;
        min-width: 306px;
        max-width: 306px;
    }

    >div.confirmation{
        
        position: relative;
        top: -15%;
        >div:first-child{
            padding: 1.7em 0;
            >label{
                color: #6f6f6f;
                font-size: 0.983em;
            }
        }

        >div:last-child{
            display: flex;
            justify-content: flex-end;
            >button {
                &:first-child{
                    @include buttonPropertys('contoured', 40px, 28px);
                    transition-duration: .3s;
                    margin-right: 1em;
                    &:hover { background-color: oPrimaryColor(.1); }
                }
                &:last-child{
                    @include buttonPropertys('normal', 40px, 28px);
                }
            }
        }
    }

    >div.preloader{
        position: relative;
        >div:first-child{
            display: flex;
            justify-content: center;
            padding: .8em 0;
            >label {
                color: #6f6f6f;
                font-size: 0.975em;
            }
        }

        >div:last-child{
            position: relative;
            padding: .2em 0;
        }
    }
}
