div#editor{
    @include modalPropertys(25000);
    background-color: transparent;
    >div {
        width: 65%;
        height: 90%;
        background-color: #FAFAFA;
        border-radius: .5em;

        >div#rmel-container {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
        
            >header:first-child {
                border-top-left-radius: .5em;
                border-top-right-radius: .5em;
                height: 50px;
                background: #FAFAFA;
                display: flex;
                align-items: center;
                >label {
                    color: rgb(122, 122, 122);
                    font-size: 15px;
                    text-indent: .8em;
                }
            }
        
            >div:nth-child(2){
                height: 100%;
        
                >div.rc-md-editor {
                    >div:first-child.rc-md-navigation{
                        background-color: #FAFAFA;
                    }

                    >div.editor-container
                    >section.sec-md
                    >textarea#textarea{
                        padding-top: 30px;
                    }
                }
            }
        
            >footer {
                height: 60px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                >div {
                    margin-right: 1em;
                    >button {
                        &:first-child{
                            @include buttonPropertys('contoured', 110px, 30.5px);
                            transition-duration: .3s;
                            &:hover {
                                background-color: oPrimaryColor(.1);
                            }
                        }
                        &:last-child{
                            @include buttonPropertys('normal', 110px, 30.5px);
                            margin: 0 1.5em;
                        }
                    }
                }
            }

            >div.autocomplete-cont{
                position: fixed;
                background-color:rgba(0,0,0, .25);
                z-index: 1;
                //Container
                >div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    >div{
                        height: 85%;
                        box-sizing: border-box;
                        padding: 0 .6em .6em;
                        background-color: #FAFAFA;;
                        border-radius: .3em;
                        width: 65%;
                        display: flex;
                        flex-direction: column;
                        
                        >div:first-child{
                            display: flex;
                            justify-content: flex-end;
                            padding: .4em 0 .3em;
                            >button{
                                padding: 0;
                                margin: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: none;
                                background-color: transparent;
                                >svg{
                                    color: #4b4b4b;
                                    transition: .5s;
                                    cursor: pointer;
                                }
                                &:hover > svg {
                                    color: #FF0000;
                                }
                                &:focus{
                                    outline: 0;
                                }
                            }
                        }

                        >div:nth-child(2){
                            display: flex;
                            flex-wrap: nowrap;
                            >div{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 0 .5em;
                                background-color: rgb(241, 241, 241);

                                border-top-left-radius: .3em;
                                border-bottom-left-radius: .3em;
                                >svg{
                                    font-size: 1.3em;
                                    color: grey;
                                }
                            }
                            >input{
                                display: block;
                                border:none;
                                padding: 0;
                                margin:0;
                                width: 100%;
                                font-size: .9em;
                                padding: .84em .6em;
                                box-sizing: border-box;
                                border-top-right-radius: .3em;
                                border-bottom-right-radius: .3em;
                                color: #4b4b4b;
                                &:focus{
                                    outline: 0;
                                }
                            }
                        }
                        >div:nth-child(3){
                            height: 100%;
                            overflow-y: auto;
                            >ul{
                                >li{
                                    padding: .85em 0;
                                    font-size: .93em;
                                    color: #3d3d3d;
                                    list-style-type: none;
                                    border-bottom: 1px solid rgba(122, 122, 122, .2);
                                    text-indent: 1em;
                                    cursor: pointer;
                                    &:hover{
                                        background-color: rgba(122, 122, 122, .1);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .hidden{
                display: none!important;
            }
            .show{
                display: block!important;
            }
        }
    }
}
