$primary-color: #5db68e;
$bg1 : #F0F1F4;
$bg2 : #FAFAFA;

@function oPrimaryColor($opacity) {
    @return rgba(93,182,142, $opacity);
}

*{ margin: 0; padding: 0; }

textarea::-webkit-scrollbar,
div::-webkit-scrollbar{ width: 8px; height: 8px; }
textarea::-webkit-scrollbar-track,
div::-webkit-scrollbar-track{ background: #f5f5f5; border-radius: 2em; }
textarea::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb{ background: #cccccc; border-radius: 2em; }

input.readonly{ pointer-events: none; }

@mixin modalPropertys($zindex) {
    background-color: oPrimaryColor(0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $zindex;
}

@mixin buttonPropertys($style, $width : null, $height: null) {
    border: none;
    padding: .3em 0;
    border-radius: .3em;
    outline: 0;
    cursor: pointer;

    @if ($width != null){ width: $width; } @else { width: auto;  };
    @if ($height != null){ height: $height; } @else { height: auto;  };

    @if $style == 'normal' {
        background-color: $primary-color;
        color: #FFFFFF;
    } @else if $style == 'contoured' {
        border: $primary-color 1px solid;
        background-color: transparent;
        color: $primary-color;
    }
}

// Preloader animation
div.linear-preloader {
    display: block;
    top:100%;
    width: 100%;
    background-color: oPrimaryColor(.3);
    border-radius: 2px;
    min-height: 3px;

    >div {
        background-color: $primary-color;

        &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }
        
        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s
        }
    }
}

div.simple-preloader{
    display: block;
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 5px;

    &::before{
        content: '';
        position: absolute;
        height: 3px;
        background-color: oPrimaryColor(.3);
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &::after{
        content: '';
        position: absolute;
        height: 3px;
        background-color: $primary-color;
        top: 50%;
        transform: translateY(-50%);
        -webkit-animation: simple-preloader 1.3s infinite;
        animation: simple-preloader 1.3s infinite;
    }
}

@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%
	}
	60% {
		left: 100%;
		right: -90%
	}
	100% {
		left: 100%;
		right: -90%
	}
}
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%
	}
	60% {
		left: 100%;
		right: -90%
	}
	100% {
		left: 100%;
		right: -90%
	}
}

@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%
	}
	60% {
		left: 107%;
		right: -8%
	}
	100% {
		left: 107%;
		right: -8%
	}
}
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%
	}
	60% {
		left: 107%;
		right: -8%
	}
	100% {
		left: 107%;
		right: -8%
	}
}

@-webkit-keyframes simple-preloader {
	0% {
		left: 0;
		width: 0%;
	}
	45% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0%
	}
}
@keyframes simple-preloader {
	0% {
		left: 0;
		width: 0%;
	}
	45% {
		left: 0;
		width: 100%;
	}
	100% {
		left: 100%;
		width: 0%
	}
}

span[title='Underline']{ display: none!important; }

// To page and preview section
div.preview-section,
article.page-container{

    span[title='Underline'], 
    div.rc-md-navigation,
    section.sec-md,
    div.tool-bar{
        display: none!important;
    }

    div.rc-md-editor {
        background-color: transparent;
        border: none;
        margin: 0!important;
    }

    section.sec-html{
        padding:0;
        margin:0!important;
        div.html-wrap{
            padding:0!important;
            margin:0!important;
        }
    }
}

div#alert{
    @include modalPropertys(30000);
    >div{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: .5em 1em;
        border-radius: .4em;
        min-width: 306px;
        max-width: 306px;
    }

    >div.confirmation{
        
        position: relative;
        top: -15%;
        >div:first-child{
            padding: 1.7em 0;
            >label{
                color: #6f6f6f;
                font-size: 0.983em;
            }
        }

        >div:last-child{
            display: flex;
            justify-content: flex-end;
            >button {
                &:first-child{
                    @include buttonPropertys('contoured', 40px, 28px);
                    transition-duration: .3s;
                    margin-right: 1em;
                    &:hover { background-color: oPrimaryColor(.1); }
                }
                &:last-child{
                    @include buttonPropertys('normal', 40px, 28px);
                }
            }
        }
    }

    >div.preloader{
        position: relative;
        >div:first-child{
            display: flex;
            justify-content: center;
            padding: .8em 0;
            >label {
                color: #6f6f6f;
                font-size: 0.975em;
            }
        }

        >div:last-child{
            position: relative;
            padding: .2em 0;
        }
    }

    >div.alert{
        background-color: #f3f3f3;
        border: 1px solid rgba(97,97,97, .1);
        >div{
            display: flex;
            justify-content: center;
        }
        >div:first-child{
            padding: .5em 0;
            >label{
                font-size: .87em;
                color: #888888;
            }
        }

        >div:last-child{
            padding-top: .5em;
            >button{
                @include buttonPropertys('normal', 80px);
            }
        }
    }
}
